body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Roboto Slab', serif;
    font-weight: 500;
    position: relative;
    display: block;
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: top;
    width: auto;
    font-size: 100px;
    line-height: 130px;
    overflow: hidden;
    padding: 0;
    color: #000;
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
